// @import url("https://p.typekit.net/p.css?s=1&k=swf2hgm&ht=tk&f=30810.30811.30768.30770.30771&a=2637445&app=typekit&e=css");

$peach: #D68D86;
$turqoise: #27ccb3;
$grey: #F6F6F6;
// $brightPeach: #FFDBCB;
// $graphRed: #D70005;

body {
  // font-family:"benton-modern";
  margin-left: 1em;
  margin-right: 1em;
  color: darken($peach, 0%);
  background-color: $grey;
}

#header {
  color: darken($peach, 10%);
}

.outerbox{

  ::placeholder {
    color: darken($grey, 15%);
  }

  #graph {
    font-size: 1.5em;
    color: darken($grey, 45%);
  }

  #data {
    font-size: 1.2em;
    color: darken($grey, 45%);
  }

  #example {
    font-style: italic;
    font-size: 1.1em;
    margin-left: 0.8em;
    width: 80%;
    color: lighten($peach, 10%)
  }

  #submitBtn {
    background-color: white;
    color: $peach;
    /* margin-left: 1em;
    margin-right: 0.45em; */
    border: 1;
    border-radius: 10px;
    border-color: $peach;
  }

  #select {
    margin-left: 0.5em;
    color: $peach;
    /* margin-left: 1em;
    margin-right: 0.45em; */
    border: 1;
    font-size: 1.1em;
    border-radius: 10px;
    border-color: $peach;
  }

  #saveBtn {
    background-color: $peach;
    color: $grey;
    margin-left: 0.5em;
    // margin-right: 0.45em; 
    border: 2;
    border-radius: 10px;
  }

}